.footer {
    position: relative; 
    text-align: center;
    width: 100%;
    padding: 2rem 0 !important;
    background-image: url("../../assets/images/footer.png");

  }

  
  
  .footer h2 {
    left: 0;
    width: 100%;
    font-size: 1.5rem; 
    color: #1E414C;
  }
  
 
  .footer p {
    width: 100%;
    font-size: 1rem; 
    color: #1E414C;
    
  }
  

  .footer button {
    
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    background-color: #00A0B1;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 260px;
  }

  .copy{
    width: 100%;
    font-size: 1rem; 
    color: #1E414C;
  }

  .footer a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  