.header {
    width: 100%;
    height: 100%;
    background-color: #F2FEFA;
}

.nav__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 90px;
    height: 90px;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-left: 2rem;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav__item a {
    text-decoration: none;
    color: #1E414C;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    margin-left: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav__icons span i {
    font-size: 2rem;
    cursor: pointer;
    color: #1E414C;
    cursor: pointer;
}

.nav__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    margin-left: 400px;
    margin-bottom: 10px;
}

.connection__button {
    background-color: #1E414C;
    color: #F2FEFA;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.inscription__button {
    background-color: #F2FEFA;
    color: #1E414C;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.inscription__button:hover {
    background-color: #1E414C;
    color: #F2FEFA;
}


.mobile__menu {
    font-size: 1.5rem;
    display: none;
}
