.destination__item {
    cursor: pointer;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px; 
    margin: 20px; 
    padding: 20px; 
    background-color: #fff; 
    transition: box-shadow 0.3s ease-in-out; 
}

.destination__item:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
}

.destination__info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1E414C;
    margin-top: 15px;
}

.destination__info a {
    text-decoration: none;
    color: #1E414C;
}

.destination__info a:hover {
    color: blueviolet;
}

.destination__info p {
    font-size: 1rem;
    color: #1E414C;
    margin-top: 15px;
}

.destination__description {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1E414C;
    margin-top: 15px;
}

.destination__price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1E414C;
    margin-top: 15px;
}
