.destination__item {
    cursor: pointer;
    border: 1px solid #ccc; /* Ajout d'une bordure légère */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ajout d'une ombre portée pour un effet de profondeur */
    border-radius: 8px; /* Bords arrondis pour un look plus doux */
    margin: 20px; /* Ajoute une marge autour de chaque carte */
    padding: 20px; /* Espacement à l'intérieur de la carte */
    background-color: #fff; /* Fond blanc pour la carte */
    transition: box-shadow 0.3s ease-in-out; /* Transition pour l'effet hover */
}

.destination__item:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* Ombre plus profonde lors du survol */
}

.destination__info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1E414C;
    margin-top: 15px;
}

.destination__info a {
    text-decoration: none;
    color: #1E414C;
}

.destination__info a:hover {
    color: blueviolet;
}

.destination__info p {
    font-size: 1rem;
    color: #1E414C;
    margin-top: 15px;
}

.destination__description {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1E414C;
    margin-top: 15px;
}

.destination__price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1E414C;
    margin-top: 15px;
}
