.home h2{
    font-size: 2rem;
    margin: 1rem 0;
    text-align: start;
    color: #1E414C;
}

.home p{
    font-size: 1rem;
    margin: 1rem 0;
    text-align: start;
    color: #1E414C;
}

.home img{
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 7rem;

}

.content{
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
}

.bouton1{
    background-color: #1E414C;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.envie_title{
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    color: #1E414C;
}

.envies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 550px;
    background-color: #1E414C;
}

.envies .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
}

.envies .carousel-item img {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1rem 0;
}

.envies .carousel-item.patrimoine img {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1rem 0;
}

.envies .carousel-item-title {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    color: white !important;
}

.envies .carousel-item-description {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    color: #1E414C;
}

.destinations{
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
    color: #1E414C;
}

.features{
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
    color: #1E414C;
}

.features-section{
    background-color: #1E414C;
    padding: 3rem 0;
}

.features-section .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  .features-section .col-lg-6,
  .features-section .col-md-6,
  .features-section .col-sm-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .features-section .feature-item {
    margin-bottom: 30px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .features-section .feature-item:hover {
    transform: translateY(-10px);
  }
  
  .features-section .icon {
    color: #1E414C;
    margin-bottom: 1rem;
  }
  
  .features-section .icon i {
    font-size: 2.5rem;
  }
  
  .features-section h5 {
    font-size: 1.5rem;
    color: #1E414C;
    margin: 1rem 0;
  }
  
  .features-section p {
    font-size: 1rem;
    color: #666666;
    line-height: 1.6;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 767px) {
    .features-section .feature-item {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
  
  