
.auth__form {
    background-color: #1E414C;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.auth__logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.auth__btn {
    background-color: #F2FEFA;
    color: #1E414C;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    width: 100%;
    font-weight: 600;
}

.auth__btn a {
    text-decoration: none;
    color: #1E414C;
}

.auth__form input {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.8rem;
}

.auth__form label {
    font-weight: bold;
    color: #F2FEFA;
}

.auth__text {
    color: #F2FEFA;
    text-align: center;
    margin-top: 1rem;
}

.auth__text a {
    color: #F2FEFA;
    font-weight: bold;
}

.auth__form input:focus {
    border-color: #1E414C;
    box-shadow: 0 0 5px rgba(30, 65, 76, 0.25);
}

.logoutButton {
    background-color: orange;
    color: #1E414C;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    font-weight: 600;
    margin-top: 1rem;
  }
  
  .centeredTitle {
    text-align: center;
  }